# APLICATION
APP_PORT=${APP_PORT}
APP_HOST=${APP_HOST}
NODE_ENV=${NODE_ENV}
TEST_MODE=${TEST_MODE}
CORS_ENABLED=${CORS_ENABLED}
CORS_DOMAINS=${CORS_DOMAINS}
SESSION_SECRET=${SESSION_SECRET}
JWT_SECRET=${JWT_SECRET}
ADVERSUS_API_KEY=${ADVERSUS_API_KEY}
FRONTEND_HOST=${FRONTEND_HOST}
SELF_ONBOARDING_HOST=${SELF_ONBOARDING_HOST}
REVIRO_HOST=${REVIRO_HOST}
DISABLE_CRON=${DISABLE_CRON}
IS_FIRST_RUN=${IS_FIRST_RUN}
REQUEST_BODY_LIMIT=${REQUEST_BODY_LIMIT}
TEST_MODE_REVIEW_COUNT=${TEST_MODE_REVIEW_COUNT}
PROD_MODE_REVIEW_COUNT_UNLIMITED=${PROD_MODE_REVIEW_COUNT_UNLIMITED}
MOUNTED_STORAGE_PATH_ROOT=${MOUNTED_STORAGE_PATH_ROOT}
ASSETS_PATH_ROOT=${ASSETS_PATH_ROOT}
IS_FULFILLMENT_ENABLED=${IS_FULFILLMENT_ENABLED}
IS_GENERATION_ENABLED=${IS_GENERATION_ENABLED}

# TECH ADMIN USER
TECH_SUPER_ADMIN_USERNAME=${TECH_SUPER_ADMIN_USERNAME}
TECH_SUPER_ADMIN_PASS=${TECH_SUPER_ADMIN_PASS}

# API KEYS
PUBLIC_API_KEY=${PUBLIC_API_KEY}

# GRAFANA
GRAFANA_ALLOY_TOKEN=${GRAFANA_ALLOY_TOKEN}
LOKI_HOST=${LOKI_HOST}
LOKI_USERNAME=${LOKI_USERNAME}
LOKI_PASSWORD=${LOKI_PASSWORD}

# SOCKET
SOCKET_PATH=${SOCKET_PATH}

# REDIS
REDIS_HOST=${REDIS_HOST}
REDIS_PORT=${REDIS_PORT}
REDIS_PASSWORD=${REDIS_PASSWORD}

# RABBITMQ
RABBIT_HOST=${RABBIT_HOST}

# DATABASE
POSTGRES_DB_HOST=${POSTGRES_DB_HOST}
POSTGRES_DB_PORT=${POSTGRES_DB_PORT}
POSTGRES_DB=${POSTGRES_DB}
POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_DB_SSL_MODE_ENABLED=${POSTGRES_DB_SSL_MODE_ENABLED}

# GOOGLE
GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
GOOGLE_CALLBACK_URL=${GOOGLE_CALLBACK_URL}
GOOGLE_REVIEWS_URL=${GOOGLE_REVIEWS_URL}

# STRIPE
STRIPE_SECRET_KEY_REVIRO=${STRIPE_SECRET_KEY_REVIRO}
STRIPE_SECRET_KEY_SOCIAL_WAVE=${STRIPE_SECRET_KEY_SOCIAL_WAVE}
STRIPE_WEBHOOK_SECRET_REVIRO=${STRIPE_WEBHOOK_SECRET_REVIRO}
STRIPE_WEBHOOK_SECRET_SOCIAL_WAVE=${STRIPE_WEBHOOK_SECRET_SOCIAL_WAVE}
STRIPE_WEBHOOK_URL=${STRIPE_WEBHOOK_URL}
STARTUP_BOX_FEE=${STARTUP_BOX_FEE}
SET_STRIPE_DEFAULTS=${SET_STRIPE_DEFAULTS}

# OUTSCRAPER
OUTSCRAPER_REVIEWS_API=${OUTSCRAPER_REVIEWS_API}
OUTSCRAPER_API_KEY=${OUTSCRAPER_API_KEY}
REVIEWS_WEBHOOK_URL=${REVIEWS_WEBHOOK_URL}

# ESIGNATURE
ESIGNATURE_SECRET=${ESIGNATURE_SECRET}
CONTRACT_SERVICE_URL=${CONTRACT_SERVICE_URL}
CONTRACT_SERVICE_WEBHOOK_URL=${CONTRACT_SERVICE_WEBHOOK_URL}
ESIGNATURE_TEMPLATE_ID=${ESIGNATURE_TEMPLATE_ID}

# MAIL
    FROM_MAIL=${FROM_MAIL}

    # GMAIL
        GMAIL_USER=${GMAIL_USER}
        GMAIL_PASSWORD=${GMAIL_PASSWORD}

    # MAILGUN
        MAILGUN_API_KEY=${MAILGUN_API_KEY}
        MAILGUN_DOMAIN=${MAILGUN_DOMAIN}

    # SENDGRID
        SENDGRID_API_KEY=${SENDGRID_API_KEY}

    # AWS SES
        AWS_REGION=${AWS_REGION}
